.title {
    @include row-gap(16px, space-between, center);
    padding-bottom: 8px !important;
}

.inputs {
    @include column-gap(20px, center, center);
    padding-top: 8px !important;
}

.loading {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.couple {
    @include row-gap(8px);
    width: 100%;
}

.cepButton {
    width: 50% !important;
}