.globalColors {
  --color-primary: #1142d4;
  --background-light: #f6f6f8;
  --background-dark: #101522;
  --color-success: #419f3c;
  --color-error: #bf2e2f;
  --color-container: #ffffff;
  --color-border: #f1f1f1;

  --text-primary: #101522;
  --text-secondary: #6b7280;
  --text-muted: #9ca3af;
}