.globalColors {
  --color-primary: #1142d4;
  --color-secondary: #23344E;
  --color-container: #ffffff;
  --color-background: #faf9fb;
  --color-detail: #919191;
  --color-border: #f1f1f1;
  --color-success: #419f3c;
  --color-error: #bf2e2f;
  --color-text-primary: #101522;
  --color-text-secondary: #6b7280;
  --color-text-light: #ffffff;
}